@font-face {
    font-family: 'Milkshake';
    src: url('Milkshake.woff2') format('woff2'),
        url('Milkshake.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* color scheme
Red - #c6552c;
Mango - #daa03d;
Tan - #f5e7cb; */

html {
    font-size: 62.5%;
}

body {
    background-color: #1b1c1b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    header {
        background-color: #171816;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .logo-and-hamburger {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:100%;
            .hamburger-menu {
                padding: 0 1.2rem
            }
        }
        .hidden {
            // display:none;
        }
        .menu-items {
            width:100%;
            
            .menu-item {
                color:#f5e7cb;
                font-family: 'B612', sans-serif;
                display: flex;
                align-items: center;
                padding: 1.2rem 0;
                svg {
                    margin: 0 1.6rem;
                }
            }
        }
        .calls-to-action {
            width:100%;
            div{
                border: 1px solid red;
                color:red;
            }
        }

        h1 {
            font-family: Milkshake;
            font-size: 3.2rem;
            margin: 1.6rem;
            color: #f5e7cb;
        }
        
    }
    main {
        .for-designers {
            background-image: url("../img/banner320.webp");
            background-repeat: no-repeat;
            background-size: cover;
            padding-top:4.8rem;
            div {
                margin: 1.6rem 1.6rem 0;
                padding: 5.4rem 1.6rem 0;
                background-color: #daa03d;
                text-align: center;
                h2 {
                    font-family: Milkshake;
                    font-size: 3.9rem;
                    margin-bottom: 1.6rem;
                }
                hr {
                    border: 2px solid #c6552c;
                    margin: 0 46%;
                }
                p {
                    margin-top: 1.6rem;
                    padding-bottom: 5.4rem;
                    line-height: 1.5;
                }
            }
        }
        .articles {
            div {
                padding-bottom: 6.4rem;
                h2 {
                    color:#c6552c;
                    font-weight: 900;
                    margin: 7.8rem 1.6rem 1rem;
                }
                h3 {
                    font-family:Milkshake;
                    font-size: 3rem;
                    margin: 0 1.6rem 1.6rem;
                    color:#f5e7cb
                }
                p {
                    color: #f5e7cb;
                    font-family: 'B612', sans-serif;
                    font-size: 1.6rem;
                    margin: 3.2rem 1.6rem 1.6rem;
                    padding: 0 0 2rem;
                }
                a {
                    font-family: 'B612', sans-serif;
                    color: #f5e7cb;
                    text-decoration: none;
                    border-top: 1px solid #f5e7cb;
                    border-bottom: 1px solid #f5e7cb;
                    padding: 1rem;
                    margin: 1.6rem;
                    &:hover {
                        color: #171816;
                        border-color: #daa03d;
                        background-color: #daa03d;
                    }
                }
            }
        }
        .guides {
            padding-top: 7.5rem;
            background-color: #daa03d;
            margin: 2rem 0 0;
            .banner-card {
                position: relative;
                margin: 0 1.6rem;
                background-color: #171816;
                h2{
                    padding: 2.2rem 0 0 1.6rem; 
                    color: #c6552c;
                    font-weight: 900;
                }
                h3 {
                    padding: 1.8rem 0 1.2rem 1.6rem;
                    font-family:Milkshake;
                    font-size: 3rem;
                    color:#f5e7cb
                }
                
            }
            .banner-img {
                margin-top: -6rem;
                width:100%;
            }
                ul {
                    list-style-type: disc; 
                    list-style-position: inside; 
                    li {
                        font-family: 'B612', sans-serif;
                        padding: 1.6rem 0 0 1.6rem;
                        &:last-of-type {
                            padding-bottom: 1.6rem;
                        }
                    }
                }
            a {
                display: inline-block;
                font-family: 'B612', sans-serif;
                color: #171816;
                text-decoration: none;
                border-top: 1px solid #c6552c;
                border-bottom: 1px solid #c6552c;
                padding: 1rem 1.6rem;
                margin: 1.6rem 1.6rem 7rem;  
                &:hover {
                    color:#f5e7cb;
                    border-color: #1b1c1b;
                    background-color:#1b1c1b;
                }
            }
        }
    }
}

footer {
    background-color: #1b1c1b;
    h2 {
        font-size: 7rem;
        color: #171816;
        font-weight: 900;
        text-align: right;
        margin: 9.2rem 1.6rem 4.2rem;
        
        &:last-of-type {
            margin: 0 1.6rem 4.2rem;
        }
    }
    p {
        font-family: 'B612', sans-serif;
        font-style: italic;
        font-size: 1.4rem;
        margin: 0 1.6rem 5.4rem;
        color: #f5e7cb;
        text-align: right;
    }
}

